body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color:#003687; 
    height: 35vh;
}
nav .a {
    color: white;
}
.imagenes{
    width: 100px;
    height: 100px;
}
main{
    height: 60vh;
}
